body {
    font-family: 'Montserrat', Tahoma, sans-serif;
    font-weight: 200;
    font-size: 12pt;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background: linear-gradient(135deg, #f4f5f7, #d9e2ec);
}
.card {
    margin: 10vh;
    background: #00407B;
    border-radius: 3vh;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    width: 90%;
    max-width: 500px;
    padding: 5vh;
    box-sizing: border-box;
}
img {
    display: block;
    margin: 0 auto 4vh auto;
    max-width: 150px;
}
h2 {
    text-align: center;
    color: white;
    font-weight: 600;
}
label {
    font-weight: 400;
    margin-top: 3vh;
    display: block;
    margin-left: 2vh;
}
input, textarea, select {
    font-family: 'Montserrat', Tahoma, sans-serif;
    font-weight: 400;
    color: #6b6b6b;
    width: 100%;
    padding: 10px;
    border-radius: 1vh;
    border: 1px solid #ccc;
    margin-top: 0.8vh;
    font-size: 10pt;
    box-sizing: border-box;
}
::placeholder{
    color: #6b6b6b;
    font-style: italic;
}
textarea {
    height: 15vh;
    resize: vertical;
    min-height: 15vh;
    max-height: 30vh;
}
button {
    background-color: white;
    font-family: 'Montserrat', Tahoma, sans-serif;
    color: #00407B;
    border: none;
    border-radius: 1vh;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    margin-top: 3vh;
    transition: 0.2s;
    font-size: 12pt;
}
button:hover {
    background-color: #FF8B2D;
    color: white;
}
.success, .error, .procensando {
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
    width: 100%;
    border-radius: 1vh;
    background-color: white;
    height: 8vh;
    line-height: 8vh;
}
.procensando { color: black; }
.success { color: green; }
.error { color: red; }